#welcome-message {
  font-size: 16pt;
  text-align: center;
  margin-top: 30px;
}

#question-title {
  margin-bottom: 30px;
}

#verdict {
  text-align: center;
}

#correction {
  text-align: center;
}
