<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
      <%= @question_list.current_number %>. <%= @question_list.print_question %>
    </p>
    <div id="options">
      <% @question_list.print_options.each do |option| %>
        <input type="button" class="answer" value="<%= option %>">
      <% end %>
    </div>
    <div id="result"></div>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script src="/interface.js"></script>
  </body>
</html>
