<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p><%= @question_list.current_number %>. <%= @question_list.print_question %></p>
    <form id="options">
      <% @question_list.print_options.each do |option| %>
        <input type="submit" name="answer" value="<%= option %>">
      <% end %>
    </form>
  </body>
</html>
